
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    <body>

        <header class="header clearfix">
            <div class="container">
                <div class="row">
                    <div class="col" style="background-color: #203a1f;">
                        <h1 id="main-header" class="display-1" style="color: white">Malmin Sanomat</h1>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-dark" style="background-color: #335b31;">
                <ul class="nav float-left">
                    <li class="nav-item">
                        <a class="nav-link valikko" th:href="@{/}">Etusivu</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle valikko" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kategoriat
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Paikalliset</a>
                            <a class="dropdown-item" href="#">Kotimaa</a>
                            <a class="dropdown-item" href="#">Urheilu</a>
                            <a class="dropdown-item" href="#">Kulttuuri</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link valikko" href="#">Sää</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link valikko" href="#">Yhteys</a>
                    </li>
                </ul>
            </nav>
        </header>
    </body>
</html>