<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Oikea_valikko template</title>
    </head>
    <body>
        <div class="col oikea_valikko" th:fragment="oikea_valikko">
            <div class="container oikea_valikko" th:each="uusin : ${uusimmat}">
                <p th:text="${uusin.otsikko}">otsikko</p>
                <p th:text="${uusin.julkaisuaika}">aika</p>
            </div>
            <div class="container oikea_valikko" th:each="luetuin : ${luetuimmat}">
                <p th:text="${luetuin.otsikko}">otsikko</p>
                <p th:text="${luetuin.julkaisuaika}">aika</p>
            </div>
        </div>
    </body>
</html>