<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Oikea_valikko template</title>
    </head>
    <body>
        <div class="col" th:fragment="oikea_valikko">
            <ul th:each="uusin : ${uusimmat}">
                <li>
                    <p th:text="${uusin.otsikko}">otsikko</p>
                    <p th:text="${uusin.julkaisuaika}">aika</p>
                </li>
            </ul>
            <ul th:each="luetuin : ${luetuimmat}">
                <li>
                    <p th:text="${luetuin.otsikko}">otsikko</p>
                    <p th:text="${luetuin.julkaisuaika}">aika</p>
                </li>
            </ul>
        </div>
    </body>
</html>