body {
    background-color: #f2fff3;
}

a.valikko:link, a.valikko:visited, a.valikko:active  {
    color: #ffffff;
    text-decoration: none;
}

a.valikko:hover {
    color: #f2fff2;
    text-decoration: none;
}

a.kuva:link, a.kuva:visited, a.kuva:active, a.kuva:hover  {
    color: #212529;
    text-decoration: none;
}


img.uutiskuva {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.headimage {
    max-width: 100%;
    padding: 1rem;
}

.container > img {
    width: 100%;
}

p.inlineTekija {
    display: inline-block;
}

a.kuva > div.container {
    background-color: white;
    padding: 0.5rem;
    border-style: none none solid none;
    border-color: lightgrey;
    border-width: 0.05rem;
}

.footer {
    margin-top: 10rem;
}